annotated-types==0.5.0
autoflake==2.2.0
autopep8==2.0.2
bandit==1.7.5
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
chevron==0.14.0
click==8.1.5
cookies-samesite-compat==0.0.1
coverage==7.2.7
cryptography==41.0.2
cryptojwt==1.8.3
defusedxml==0.7.1
elementpath==4.1.4
exceptiongroup==1.1.2
fancycompleter==0.9.1
flake8==6.0.0
future==0.18.3
gitdb==4.0.10
GitPython==3.1.32
gunicorn==21.0.1
idna==3.4
iniconfig==2.0.0
isort==5.12.0
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
mypy==1.4.1
mypy-extensions==1.0.0
oic==1.6.1
packaging==23.1
pbr==5.11.1
pdbpp==0.10.3
pluggy==1.2.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.18.0
pydantic==2.0.3
pydantic-settings==2.0.2
pydantic_core==2.3.0
pyflakes==3.0.1
Pygments==2.15.1
pyjwkest==1.4.2
pyop==3.4.0
pyOpenSSL==23.2.0
pyrepl==0.9.0
pysaml2==7.4.2
pytest==7.4.0
pytest-cov==4.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
rich==13.4.2
SATOSA==8.4.0
six==1.16.0
smmap==5.0.0
stevedore==5.1.0
tomli==2.0.1
types-six==1.16.21.8
typing_extensions==4.7.1
urllib3==2.0.3
Werkzeug==2.3.6
wmctrl==0.4
xmlschema==2.3.1
