qpytest
pytest-mock
coverage
pdbpp
pytest-cov
flake8
isort
autoflake
bandit
autopep8
black
beautifulsoup4
lxml
freezegun
html-linter
sphinx
sphinx_rtd_theme
playwright
freezegun
pytest-mock
PyJWT
cose
