pytest-playwright
aiohttp>=3.11.11,<4.0.0
asyncio>=3.4.3,<4.0.0
beautifulsoup4
cbor2
cryptography
cryptojwt>=1.9,<1.10
device_detector>=5.0,<6
freezegun
Jinja2>=3.1.5,<4.0.0
pem>=23.1,<23.2
playwright
Pillow>=11.1.0,<12.0.0
pydantic>=2.10.6,<3.0.0
pydantic_core
pycose
pyOpenSSL
pymdoccbor>=0.9.0,<2.0.0
pymongo>=4.10.1,<5.0.0
pyqrcode>=1.2,<1.3
pytest
PyYAML
requests>=2.32.3,<3.0.0
SATOSA>=8.4,<8.6
setuptools
typing_extensions
pysaml2
pyeudiw
beautifulsoup4
lxml>=4.9,<5